<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text"
                    [(ngModel)]="listFilter"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered by: {{listFilter}}</h3>
            </div>
        </div>
        <div class="table-responsive" >
            <table class="table" *ngIf="incomestreams && incomestreams.length">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary"
                                (click)="toggleImage()">
                                {{showImage ? "Hide" : "Show"}} Image
                            </button>
                        </th>
                        <th>Income Stream</th>
                        <th>GL Code</th>
                        <th>Vattable</th>
                        <th>Fund Code</th>
                        <th>Average Transaction</th>
                        <th>Usage Rating</th>
                        <th>Last Checked</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let incomestream of incomestreams | incomeStreamFilter:listFilter">
                        <td>
                            <img *ngIf="showImage"
                                [src]="incomestream.imageUrl"
                                [title]="incomestream.incomeStreamName"
                                [style.width.px]="imageWidth"
                                [style.margin.px]="imageMargin"/>
                        </td>
                        <td>{{incomestream.incomeStreamName}}</td>
                        <td>{{incomestream.generalLedgerCode | uppercase}}</td>
                        <td>{{incomestream.vattable}}</td>
                        <td>{{incomestream.fundCode}}</td>
                        <td>{{incomestream.averageTransaction | currency:"GBP":true:"1.2-2"}}</td>
                        <td>
                            <tc-star [rating]="incomestream.usageRating"
                                (ratingClicked)="onRatingClicked($event)"></tc-star>
                        </td>
                        <td>{{incomestream.checkDate | date}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>